<odoo>
    <!-- Main Menu -->
    <menuitem id="root" name="Firebase Bridge" sequence="10" web_icon="firebase_bridge,static/description/icon.png" groups="firebase_bridge.firebase_operator"/>
    <menuitem id="bridges" name="Bridges" sequence="10" parent="root" action="action_firebase_bridges"/>
    <menuitem id="sessions" name="Sessions" sequence="20" parent="root" action="action_firebase_sessions"/>
    <menuitem id="messages" name="Messages" sequence="30" parent="root" action="action_firebase_messages"/>
</odoo>